<table id='skillstable'>
  <tr>
    <th>Skill</th>
    <th>Familiar</th>
    <th>Functional</th>
    <th>Proficient</th>
    <th>Advanced</th>
  </tr>
  <tr>
    <td class='skillname'>Python</td>
    <td bgcolor="000099"></td>
    <td bgcolor="000099"></td>
    <td bgcolor="000099"></td>
    <td bgcolor="000099"></td>
  </tr>
  <tr>
    <td class='skillname'>SQL</td>
    <td bgcolor="000099"></td>
    <td bgcolor="000099"></td>
  </tr>
  <tr>
    <td class='skillname'>Excel</td>
    <td bgcolor="000099"></td>
    <td bgcolor="000099"></td>
    <td bgcolor="000099"></td>
  </tr>
  <tr>
    <td class='skillname'>Modeling</td>
    <td bgcolor="000099"></td>
    <td bgcolor="000099"></td>
    <td bgcolor="000099"></td>
    <td bgcolor="000099"></td>
  </tr>
  <tr>
    <td class='skillname'>Data Mining</td>
    <td bgcolor="000099"></td>
    <td bgcolor="000099"></td>
    <td bgcolor="000099"></td>
  </tr>
  <tr>
    <td class='skillname'>R</td>
    <td bgcolor="000099"></td>
  </tr>
  <tr>
    <td class='skillname'>Swift</td>
    <td bgcolor="000099"></td>
  </tr>
  <tr>
    <td class='skillname'>VBA</td>
    <td bgcolor="000099"></td>
  </tr>

</table>
